<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Yore Character</title>

    <script src="js/angular.js"></script>
    <script src="js/yore.js"></script>
    <script src="js/test.js"></script>
    <script src="js/app.js"></script>

    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>
<body ng-app="yoreApp">
<div>

</div>
    <div ng-controller="StatListController">
        <div>
            <h4>Abilities</h4>
            <ul>
                <li ng-repeat="ability in abilities">
                    <span class="slot-small-text">{{ability.score.name}}</span>
                    <span class="slot-small">{{ability.mod.value}}</span>
                    <span class="slot-small">{{ability.score.value}}</span>
                </li>
            </ul>
        </div>
        <div>
            <h4>Skills</h4>
            <ul>
                <li ng-repeat="skill in skills">
                    <input type="checkbox" ng-model="skill.cs.classSkill" ng-change="skill.cs.update( sheet )"/>
                    <strong class="slot-small">{{skill.total.value}} </strong>
                    <span class="slot-text">{{skill.total.name}}</span>
                    <input type="number" ng-model="skill.ranks.value" min='0' ng-change="skill.ranks.update( sheet )"/>
                </li>
            </ul>
            <span>total ranks : {{totalRanks()}}</span>
        </div>
    </div>
</body>
</html>