<div>
    <a href="gallery">Gallery</a>
    <a href="char/{{front.charId}}/overview">Overview</a>
    <a href="char/{{front.charId}}/front">Front</a>
    <a href="char/{{front.charId}}/inventory">Inventory</a>
    <div>
        <h4>Abilities</h4>
        <div>
            <div ng-repeat="ability in front.abilities">
                <span class="slot-small-text">{{ability.score.name}}</span>
                <span class="slot-small">{{ability.mod.value | modifier}}</span>
                <span class="slot-small">{{ability.score.value}}</span>
            </div>
        </div>
    </div>
    <div>
        <strong>BAB</strong>
        <span>{{front.bab.value | modifier}}</span>
    </div>
    <div>
        <strong>CMB</strong>
        <span>{{front.cmb.value | modifier}}</span>
    </div>
    <div>
        <strong>AC</strong>
        <span>{{front.ac.value}}</span>
    </div>
    <div>
        <strong>CMD</strong>
        <span>{{front.cmd.value}}</span>
    </div>
    <div>
        <h4>Saves</h4>
        <ul>
            <li>Fort: {{front.fort.value | modifier}}</li>
            <li>Ref: {{front.ref.value | modifier}}</li>
            <li>Will: {{front.will.value | modifier}}</li>
        </ul>
    </div>
    <div>
        <h4>Skills</h4>
        <ul>
            <li ng-repeat="skill in front.skills">
                <input type="checkbox" ng-model="skill.cs.classSkill" ng-change="skill.cs.update( front.sheet )"/>
                <strong class="slot-small" ng-class="{subdued : !skill.total.modified}">{{skill.total.value | modifier}} </strong>
                <span class="slot-text" ng-class="{subdued : !skill.total.modified}">{{skill.total.name}}</span>
                <input type="number" ng-model="skill.ranks.value" min='0' ng-change="skill.ranks.update( front.sheet )"/>
            </li>
        </ul>
        <span>total ranks : {{front.totalRanks()}}</span>
    </div>
</div>